.button {
    max-width: 400px;
    background-color: var(--fundo-botao);
    border: 0;
    padding: 0.4rem;
    border-radius: 0.5rem;
    transition: filter 0.5s;

    &[disabled] {
        cursor: not-allowed;

        svg {
            animation: animate 2s infinite;
        }
    }

    &:hover {
        filter: brightness(0.8);
    }
}

.buttonText {
    color: var(--dark-900);
    font-weight: 600;
}

@keyframes animate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}