.containerCenter {
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--grey-900);
}

.login {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 1.5rem;

    form {
        width: 70%;
        display: flex;
        flex-direction: column;
    }

    form button {
        height: 40px;
        font-size: 1.2rem;
    }
}

.text {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--white);
    cursor: pointer;
    text-align: center;
}

.cadastrologin {
    font-weight: 300;
    color: var(--green-900);
    background-color: var(--dark-700);
    border-radius: 0.4rem;
    border: solid 1px green;
    padding: 0.1rem 0.3rem;
}

.assinatura {
    text-align: center;
    color: var(--green-900);
    margin-top: 1rem;
    font-size: 0.7rem;
    font-style: italic;
}

@media (max-width: 450px) {
    .login {
        width: 100%;
    }

}