.card1 {
    background-color: var(--dark-900);
    width: 400px;
    margin: 1rem auto;
}

.titulo {
    text-align: center;
}

.texto_atencao {
    font-weight: 300;
    font-size: 1rem;
    color: var(--white);
}